## 아동 대비 교사 수

In [1]:
import pandas as pd
import numpy as np

In [14]:
# 데이터 로드

kin = pd.read_csv("[교육]서울시 유치원 통계(2021-2022).csv")
kin.head()
kin = kin.drop(columns=['2021_kin', '2022_kin'])

In [15]:
# 비율 컬럼 생성

kin['2021_tea_rate'] = kin['2021_st'] / kin['2021_tea']
kin['2022_tea_rate'] = kin['2022_st'] / kin['2022_tea']
kin = kin.drop(columns = ['2021_tea', '2021_st', '2022_tea', '2022_st'])
kin.head()

     구  2021_tea_rate  2022_tea_rate
0  종로구      11.218750      10.614583
1   중구      10.659574      10.296703
2  용산구      11.352941      10.222222
3  성동구      11.704142      10.361111
4  광진구      10.806763      10.477612

In [16]:
# 2021 교사 대비 아동 수

kin.sort_values(by = '2021_tea_rate')

       구  2021_tea_rate  2022_tea_rate
8    강북구       9.294574       9.620968
22   강남구       9.826087       9.297659
9    도봉구       9.837209       9.688372
20   관악구      10.197719       9.350394
6    중랑구      10.262548       9.847273
21   서초구      10.361607       9.976852
17   금천구      10.540741      11.144000
7    성북구      10.653165      10.120988
1     중구      10.659574      10.296703
14   양천구      10.737892       9.549724
4    광진구      10.806763      10.477612
5   동대문구      11.000000      10.438819
11   은평구      11.058824      10.231579
13   마포구      11.065306      10.689796
16   구로구      11.082305      10.427984
19   동작구      11.133891      10.591093
23   송파구      11.149451      10.502058
18  영등포구      11.149502      10.429487
10   노원구      11.200820      10.525210
0    종로구      11.218750      10.614583
12  서대문구      11.285000      10.970443
2    용산구      11.352941      10.222222
15   강서구      11.449761      10.354610
3    성동구      11.704142      10.361111
24   강동구      13.059006      12.287500

In [17]:
# 2022 교사 대비 아동 수

kin.sort_values(by = '2022_tea_rate')

       구  2021_tea_rate  2022_tea_rate
22   강남구       9.826087       9.297659
20   관악구      10.197719       9.350394
14   양천구      10.737892       9.549724
8    강북구       9.294574       9.620968
9    도봉구       9.837209       9.688372
6    중랑구      10.262548       9.847273
21   서초구      10.361607       9.976852
7    성북구      10.653165      10.120988
2    용산구      11.352941      10.222222
11   은평구      11.058824      10.231579
1     중구      10.659574      10.296703
15   강서구      11.449761      10.354610
3    성동구      11.704142      10.361111
16   구로구      11.082305      10.427984
18  영등포구      11.149502      10.429487
5   동대문구      11.000000      10.438819
4    광진구      10.806763      10.477612
23   송파구      11.149451      10.502058
10   노원구      11.200820      10.525210
19   동작구      11.133891      10.591093
0    종로구      11.218750      10.614583
13   마포구      11.065306      10.689796
12  서대문구      11.285000      10.970443
17   금천구      10.540741      11.144000
24   강동구      13.059006      12.287500

In [19]:
# 변화량

kin['variation'] = kin['2022_tea_rate'] - kin['2021_tea_rate']
kin.sort_values(by = 'variation', ascending = False)

       구  2021_tea_rate  2022_tea_rate  variation
17   금천구      10.540741      11.144000   0.603259
8    강북구       9.294574       9.620968   0.326394
9    도봉구       9.837209       9.688372  -0.148837
12  서대문구      11.285000      10.970443  -0.314557
4    광진구      10.806763      10.477612  -0.329151
1     중구      10.659574      10.296703  -0.362871
13   마포구      11.065306      10.689796  -0.375510
21   서초구      10.361607       9.976852  -0.384755
6    중랑구      10.262548       9.847273  -0.415276
22   강남구       9.826087       9.297659  -0.528428
7    성북구      10.653165      10.120988  -0.532177
19   동작구      11.133891      10.591093  -0.542798
5   동대문구      11.000000      10.438819  -0.561181
0    종로구      11.218750      10.614583  -0.604167
23   송파구      11.149451      10.502058  -0.647393
16   구로구      11.082305      10.427984  -0.654321
10   노원구      11.200820      10.525210  -0.675610
18  영등포구      11.149502      10.429487  -0.720014
24   강동구      13.059006      12.287500  -0.771506
11   은평구      11.058824      10.231579  -0.827245
20   관악구      10.197719       9.350394  -0.847325
15   강서구      11.449761      10.354610  -1.095151
2    용산구      11.352941      10.222222  -1.130719
14   양천구      10.737892       9.549724  -1.188168
3    성동구      11.704142      10.361111  -1.343031