In [3]:
import pandas as pd
import numpy as np

In [4]:
main = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/14세까지의 인구 비율.csv')

In [5]:
main.rename(columns={'동별(1)': '구', '동별': '동', '~14세': '14세 이하 아동 수'}, inplace=True)
main

       구     동  14세 이하 아동 수   ~14세 비율
0     합계    소계     863015.0  0.091534
1    종로구    소계      10294.0  0.072811
2    종로구   사직동        848.0  0.093320
3    종로구   삼청동        142.0  0.060918
4    종로구   부암동        709.0  0.076723
..   ...   ...          ...       ...
447  강동구  암사1동       2900.0  0.085322
448  강동구  천호2동       2339.0  0.070448
449  강동구    길동       3349.0  0.074369
450  강동구  상일1동       7884.0  0.201967
451  강동구  상일2동       1525.0  0.128345

[452 rows x 4 columns]

In [6]:
main = main[main['동'] != '소계']
main = main.reset_index(drop=True)
main

       구     동  14세 이하 아동 수   ~14세 비율
0    종로구   사직동        848.0  0.093320
1    종로구   삼청동        142.0  0.060918
2    종로구   부암동        709.0  0.076723
3    종로구   평창동       1743.0  0.098681
4    종로구   무악동        931.0  0.116041
..   ...   ...          ...       ...
421  강동구  암사1동       2900.0  0.085322
422  강동구  천호2동       2339.0  0.070448
423  강동구    길동       3349.0  0.074369
424  강동구  상일1동       7884.0  0.201967
425  강동구  상일2동       1525.0  0.128345

[426 rows x 4 columns]

### df1 ~ df5

In [7]:
df1 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/교육_국공립어린이집 비율_동별_2022.csv')

In [8]:
df1 = df1[df1['동'] != '일원2동']
df1

       구     동  전체  국공립  국공립 어린이집 비율
0    종로구   사직동  11    1     9.090909
1    종로구   삼청동   3    1    33.333333
2    종로구   부암동   3    2    66.666667
3    종로구   평창동   3    1    33.333333
4    종로구   무악동   3    3   100.000000
..   ...   ...  ..  ...          ...
422  강동구  암사1동  17    4    23.529412
423  강동구  천호2동  10    5    50.000000
424  강동구    길동  17    6    35.294118
425  강동구  상일1동  13    8    61.538462
426  강동구  상일2동  15    7    46.666667

[426 rows x 5 columns]

In [9]:
df1.rename(columns={'전체': '전체 어린이집 수', '국공립': '국공립 어린이집 수'}, inplace=True)

In [10]:
main1 = pd.merge(main, df1, on = ['구', '동'], how = 'outer')
main1

       구     동  14세 이하 아동 수   ~14세 비율  전체 어린이집 수  국공립 어린이집 수  국공립 어린이집 비율
0    종로구   사직동        848.0  0.093320         11           1     9.090909
1    종로구   삼청동        142.0  0.060918          3           1    33.333333
2    종로구   부암동        709.0  0.076723          3           2    66.666667
3    종로구   평창동       1743.0  0.098681          3           1    33.333333
4    종로구   무악동        931.0  0.116041          3           3   100.000000
..   ...   ...          ...       ...        ...         ...          ...
421  강동구  암사1동       2900.0  0.085322         17           4    23.529412
422  강동구  천호2동       2339.0  0.070448         10           5    50.000000
423  강동구    길동       3349.0  0.074369         17           6    35.294118
424  강동구  상일1동       7884.0  0.201967         13           8    61.538462
425  강동구  상일2동       1525.0  0.128345         15           7    46.666667

[426 rows x 7 columns]

In [11]:
df2 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/교육_국공립유치원 비율_동별_2023.csv')

In [12]:
df2.rename(columns={'합계': '전체 유치원 수', '공립 수': '국공립 유치원 수'}, inplace=True)

In [13]:
main2 = pd.merge(main1, df2, on = ['구', '동'], how = 'outer')
main2

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율
0,종로구,사직동,848.0,0.093320,11,1,9.090909,1.0,0.0,0.000000
1,종로구,삼청동,142.0,0.060918,3,1,33.333333,NaN,NaN,NaN
2,종로구,부암동,709.0,0.076723,3,2,66.666667,2.0,0.0,0.000000
3,종로구,평창동,1743.0,0.098681,3,1,33.333333,NaN,NaN,NaN
4,종로구,무악동,931.0,0.116041,3,3,100.000000,1.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17,4,23.529412,1.0,1.0,100.000000
422,강동구,천호2동,2339.0,0.070448,10,5,50.000000,2.0,0.0,0.000000
423,강동구,길동,3349.0,0.074369,17,6,35.294118,3.0,2.0,66.666667
424,강동구,상일1동,7884.0,0.201967,13,8,61.538462,5.0,2.0,40.000000
425,강동구,상일2동,1525.0,0.128345,15,7,46.666667,1.0,0.0,0.000000

In [14]:
df3 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/교육_어린이집 교사 1인당 아동 수_구별_2022.csv')
df3.rename(columns={'아동 수': '어린이집 아동 수(구)', '교사 수': '어린이집 교사 수(구)', '교사 1인당 아동 수': '교사 1인당 아동 수(구)'}, inplace=True)

In [15]:
main3 = pd.merge(main2, df3, on = ['구'], how = 'left')
main3 = main3.rename(columns={'교사 1인당 아동 수(구)': '어린이집 교사 1인당 아동 수(구)'})
main3

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,어린이집 아동 수(구),어린이집 교사 수(구),어린이집 교사 1인당 아동 수(구)
0,종로구,사직동,848.0,0.093320,11,1,9.090909,1.0,0.0,0.000000,2642.0,735.0,3.6
1,종로구,삼청동,142.0,0.060918,3,1,33.333333,NaN,NaN,NaN,2642.0,735.0,3.6
2,종로구,부암동,709.0,0.076723,3,2,66.666667,2.0,0.0,0.000000,2642.0,735.0,3.6
3,종로구,평창동,1743.0,0.098681,3,1,33.333333,NaN,NaN,NaN,2642.0,735.0,3.6
4,종로구,무악동,931.0,0.116041,3,3,100.000000,1.0,0.0,0.000000,2642.0,735.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17,4,23.529412,1.0,1.0,100.000000,9878.0,2054.0,4.8
422,강동구,천호2동,2339.0,0.070448,10,5,50.000000,2.0,0.0,0.000000,9878.0,2054.0,4.8
423,강동구,길동,3349.0,0.074369,17,6,35.294118,3.0,2.0,66.666667,9878.0,2054.0,4.8
424,강동구,상일1동,7884.0,0.201967,13,8,61.538462,5.0,2.0,40.000000,9878.0,2054.0,4.8
425,강동구,상일2동,1525.0,0.128345,15,7,46.666667,1.0,0.0,0.000000,9878.0,2054.0,4.8

In [16]:
df4 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/교육_유치원 교원 1인당 학생 수_구별_2022.csv')
df4.rename(columns={'학생 수': '유치원 학생 수(구)', '교원 수': '교원 수(구)', '교원 1인당 학생 수': '유치원 교원 1인당 학생 수(구)'}, inplace=True)

In [17]:
main4 = pd.merge(main3, df4, on = ['구'], how = 'left')
main4

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,어린이집 아동 수(구),어린이집 교사 수(구),어린이집 교사 1인당 아동 수(구),유치원 학생 수(구),교원 수(구),유치원 교원 1인당 학생 수(구)
0,종로구,사직동,848.0,0.093320,11,1,9.090909,1.0,0.0,0.000000,2642.0,735.0,3.6,1019,96,10.614583
1,종로구,삼청동,142.0,0.060918,3,1,33.333333,NaN,NaN,NaN,2642.0,735.0,3.6,1019,96,10.614583
2,종로구,부암동,709.0,0.076723,3,2,66.666667,2.0,0.0,0.000000,2642.0,735.0,3.6,1019,96,10.614583
3,종로구,평창동,1743.0,0.098681,3,1,33.333333,NaN,NaN,NaN,2642.0,735.0,3.6,1019,96,10.614583
4,종로구,무악동,931.0,0.116041,3,3,100.000000,1.0,0.0,0.000000,2642.0,735.0,3.6,1019,96,10.614583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17,4,23.529412,1.0,1.0,100.000000,9878.0,2054.0,4.8,3932,320,12.287500
422,강동구,천호2동,2339.0,0.070448,10,5,50.000000,2.0,0.0,0.000000,9878.0,2054.0,4.8,3932,320,12.287500
423,강동구,길동,3349.0,0.074369,17,6,35.294118,3.0,2.0,66.666667,9878.0,2054.0,4.8,3932,320,12.287500
424,강동구,상일1동,7884.0,0.201967,13,8,61.538462,5.0,2.0,40.000000,9878.0,2054.0,4.8,3932,320,12.287500
425,강동구,상일2동,1525.0,0.128345,15,7,46.666667,1.0,0.0,0.000000,9878.0,2054.0,4.8,3932,320,12.287500

In [18]:
df5 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/교육_지역아동센터_밀집도_동별_2023.csv')
df5 = df5.rename(columns={'센터 수': '아동센터 수'})

In [19]:
df5['동'] = df5['동'].str.replace('면목제3.8동', '면목3.8동')

/var/folders/x_/s6rt1hw118zdhq387czgy5q40000gn/T/ipykernel_11003/2393665642.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df5['동'] = df5['동'].str.replace('면목제3.8동', '면목3.8동')

In [20]:
main5 = pd.merge(main4, df5, on = ['구', '동'], how = 'outer')
main5

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,어린이집 아동 수(구),어린이집 교사 수(구),어린이집 교사 1인당 아동 수(구),유치원 학생 수(구),교원 수(구),유치원 교원 1인당 학생 수(구),아동센터 수,면적(km2),면적당 아동센터 수
0,종로구,사직동,848.0,0.093320,11,1,9.090909,1.0,0.0,0.000000,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN
1,종로구,삼청동,142.0,0.060918,3,1,33.333333,NaN,NaN,NaN,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN
2,종로구,부암동,709.0,0.076723,3,2,66.666667,2.0,0.0,0.000000,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN
3,종로구,평창동,1743.0,0.098681,3,1,33.333333,NaN,NaN,NaN,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN
4,종로구,무악동,931.0,0.116041,3,3,100.000000,1.0,0.0,0.000000,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17,4,23.529412,1.0,1.0,100.000000,9878.0,2054.0,4.8,3932,320,12.287500,2.0,1.02,1.960784
422,강동구,천호2동,2339.0,0.070448,10,5,50.000000,2.0,0.0,0.000000,9878.0,2054.0,4.8,3932,320,12.287500,3.0,1.57,1.910828
423,강동구,길동,3349.0,0.074369,17,6,35.294118,3.0,2.0,66.666667,9878.0,2054.0,4.8,3932,320,12.287500,5.0,1.61,3.105590
424,강동구,상일1동,7884.0,0.201967,13,8,61.538462,5.0,2.0,40.000000,9878.0,2054.0,4.8,3932,320,12.287500,NaN,NaN,NaN
425,강동구,상일2동,1525.0,0.128345,15,7,46.666667,1.0,0.0,0.000000,9878.0,2054.0,4.8,3932,320,12.287500,1.0,1.09,0.917431

### df6 ~ df10

In [21]:
df6 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/교육_학교 수_동별_2023.csv')
df6

       구     동  학교 수
0    강남구  개포1동     3
1    강남구  개포2동     7
2    강남구  개포3동     7
3    강남구  개포4동     2
4    강남구  논현1동     1
..   ...   ...   ...
381  중랑구  상봉1동     2
382  중랑구  신내1동     3
383  중랑구  신내2동     2
384  중랑구  중화1동     8
385  하남시   감일동     1

[386 rows x 3 columns]

In [22]:
df6['동'] = df6['동'].str.replace('면목제3.8동', '면목3.8동')

/var/folders/x_/s6rt1hw118zdhq387czgy5q40000gn/T/ipykernel_11003/901991324.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df6['동'] = df6['동'].str.replace('면목제3.8동', '면목3.8동')

In [23]:
main6 = pd.merge(main5, df6, on = ['구', '동'], how = 'left')
main6

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,어린이집 아동 수(구),어린이집 교사 수(구),어린이집 교사 1인당 아동 수(구),유치원 학생 수(구),교원 수(구),유치원 교원 1인당 학생 수(구),아동센터 수,면적(km2),면적당 아동센터 수,학교 수
0,종로구,사직동,848.0,0.093320,11,1,9.090909,1.0,0.0,0.000000,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN,4.0
1,종로구,삼청동,142.0,0.060918,3,1,33.333333,NaN,NaN,NaN,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN,2.0
2,종로구,부암동,709.0,0.076723,3,2,66.666667,2.0,0.0,0.000000,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN,4.0
3,종로구,평창동,1743.0,0.098681,3,1,33.333333,NaN,NaN,NaN,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN,2.0
4,종로구,무악동,931.0,0.116041,3,3,100.000000,1.0,0.0,0.000000,2642.0,735.0,3.6,1019,96,10.614583,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17,4,23.529412,1.0,1.0,100.000000,9878.0,2054.0,4.8,3932,320,12.287500,2.0,1.02,1.960784,4.0
422,강동구,천호2동,2339.0,0.070448,10,5,50.000000,2.0,0.0,0.000000,9878.0,2054.0,4.8,3932,320,12.287500,3.0,1.57,1.910828,2.0
423,강동구,길동,3349.0,0.074369,17,6,35.294118,3.0,2.0,66.666667,9878.0,2054.0,4.8,3932,320,12.287500,5.0,1.61,3.105590,4.0
424,강동구,상일1동,7884.0,0.201967,13,8,61.538462,5.0,2.0,40.000000,9878.0,2054.0,4.8,3932,320,12.287500,NaN,NaN,NaN,5.0
425,강동구,상일2동,1525.0,0.128345,15,7,46.666667,1.0,0.0,0.000000,9878.0,2054.0,4.8,3932,320,12.287500,1.0,1.09,0.917431,3.0

In [24]:
df7 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/교육_학원 수_동별_2023.csv')
df7 = df7.rename(columns={'학원명': '학원 수'})

In [25]:
main7 = pd.merge(main6, df7, on = ['구', '동'], how = 'outer')
main7 = main7.dropna(subset=['동'])
main7

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,어린이집 교사 수(구),어린이집 교사 1인당 아동 수(구),유치원 학생 수(구),교원 수(구),유치원 교원 1인당 학생 수(구),아동센터 수,면적(km2),면적당 아동센터 수,학교 수,학원 수
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,735.0,3.6,1019.0,96.0,10.614583,NaN,NaN,NaN,4.0,20.0
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,735.0,3.6,1019.0,96.0,10.614583,NaN,NaN,NaN,2.0,2.0
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,735.0,3.6,1019.0,96.0,10.614583,NaN,NaN,NaN,4.0,25.0
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,735.0,3.6,1019.0,96.0,10.614583,NaN,NaN,NaN,2.0,28.0
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,735.0,3.6,1019.0,96.0,10.614583,NaN,NaN,NaN,NaN,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,2054.0,4.8,3932.0,320.0,12.287500,2.0,1.02,1.960784,4.0,45.0
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,2054.0,4.8,3932.0,320.0,12.287500,3.0,1.57,1.910828,2.0,50.0
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,2054.0,4.8,3932.0,320.0,12.287500,5.0,1.61,3.105590,4.0,89.0
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,2054.0,4.8,3932.0,320.0,12.287500,NaN,NaN,NaN,5.0,48.0
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,2054.0,4.8,3932.0,320.0,12.287500,1.0,1.09,0.917431,3.0,14.0

In [26]:
df8 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/녹지현황.csv')
df8 = df8.rename(columns={'구별': '구', '개소 (개소)': '개소(구)', '면적 (㎡)': '녹지 면적 (㎡)(구)'})

In [27]:
main8 = pd.merge(main7, df8, on = '구', how = 'left')
main8

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,유치원 학생 수(구),교원 수(구),유치원 교원 1인당 학생 수(구),아동센터 수,면적(km2),면적당 아동센터 수,학교 수,학원 수,개소(구),녹지 면적 (㎡)(구)
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,1019.0,96.0,10.614583,NaN,NaN,NaN,4.0,20.0,562,224004.0
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,1019.0,96.0,10.614583,NaN,NaN,NaN,2.0,2.0,562,224004.0
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,1019.0,96.0,10.614583,NaN,NaN,NaN,4.0,25.0,562,224004.0
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,1019.0,96.0,10.614583,NaN,NaN,NaN,2.0,28.0,562,224004.0
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,1019.0,96.0,10.614583,NaN,NaN,NaN,NaN,18.0,562,224004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,3932.0,320.0,12.287500,2.0,1.02,1.960784,4.0,45.0,297,605754.0
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,3932.0,320.0,12.287500,3.0,1.57,1.910828,2.0,50.0,297,605754.0
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,3932.0,320.0,12.287500,5.0,1.61,3.105590,4.0,89.0,297,605754.0
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,3932.0,320.0,12.287500,NaN,NaN,NaN,5.0,48.0,297,605754.0
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,3932.0,320.0,12.287500,1.0,1.09,0.917431,3.0,14.0,297,605754.0

In [28]:
df9 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/도시_근린시설(주요:집객시설) 밀집도_동별_2023.csv')
df9 = df9.rename(columns={'면적(km2)': '동 면적(km2)'})
df9['동'] = df9['동'].str.replace('면목제3.8동', '면목3.8동')

/var/folders/x_/s6rt1hw118zdhq387czgy5q40000gn/T/ipykernel_11003/2056618251.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df9['동'] = df9['동'].str.replace('면목제3.8동', '면목3.8동')

In [29]:
main9 = pd.merge(main8, df9, on = ['구', '동'], how = 'outer')
main9

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,아동센터 수,면적(km2),면적당 아동센터 수,학교 수,학원 수,개소(구),녹지 면적 (㎡)(구),근린시설 수,동 면적(km2),근린시설 밀집도
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,NaN,NaN,NaN,4.0,20.0,562,224004.0,45,1.23,36.585366
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,2.0,562,224004.0,30,1.49,20.134228
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,NaN,NaN,NaN,4.0,25.0,562,224004.0,16,2.27,7.048458
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,28.0,562,224004.0,32,8.87,3.607666
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,18.0,562,224004.0,7,0.36,19.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,2.0,1.02,1.960784,4.0,45.0,297,605754.0,30,1.02,29.411765
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,3.0,1.57,1.910828,2.0,50.0,297,605754.0,73,1.57,46.496815
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,5.0,1.61,3.105590,4.0,89.0,297,605754.0,76,1.61,47.204969
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,NaN,NaN,NaN,5.0,48.0,297,605754.0,20,1.82,10.989011
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,1.0,1.09,0.917431,3.0,14.0,297,605754.0,5,1.09,4.587156

In [30]:
df10 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/도시_면적당 정류장 수_동별_2023.csv')

In [31]:
df10 = df10[['구', '동', '정류장 수', '면적당 정류장 수']]
df10['동'] = df10['동'].str.replace('면목제3.8동', '면목3.8동')
df10

/var/folders/x_/s6rt1hw118zdhq387czgy5q40000gn/T/ipykernel_11003/4082096802.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df10['동'] = df10['동'].str.replace('면목제3.8동', '면목3.8동')

       구     동  정류장 수   면적당 정류장 수
0    강남구  개포1동     75   59.055118
1    강남구  개포2동    126   50.199203
2    강남구  개포3동     23   18.548387
3    강남구  개포4동     86   57.718121
4    강남구  논현1동    106   84.800000
..   ...   ...    ...         ...
421  중랑구  상봉2동     66  101.538462
422  중랑구  신내1동    232   90.625000
423  중랑구  신내2동    114  122.580645
424  중랑구  중화1동     44   68.750000
425  중랑구  중화2동     72   71.287129

[426 rows x 4 columns]

In [32]:
main10 = pd.merge(main9, df10, on = ['구', '동'], how = 'outer')
main10

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,면적당 아동센터 수,학교 수,학원 수,개소(구),녹지 면적 (㎡)(구),근린시설 수,동 면적(km2),근린시설 밀집도,정류장 수,면적당 정류장 수
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,NaN,4.0,20.0,562,224004.0,45,1.23,36.585366,138,112.195122
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,NaN,2.0,2.0,562,224004.0,30,1.49,20.134228,28,18.791946
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,NaN,4.0,25.0,562,224004.0,16,2.27,7.048458,95,41.850220
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,NaN,2.0,28.0,562,224004.0,32,8.87,3.607666,127,14.317926
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,NaN,NaN,18.0,562,224004.0,7,0.36,19.444444,21,58.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,1.960784,4.0,45.0,297,605754.0,30,1.02,29.411765,27,26.470588
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,1.910828,2.0,50.0,297,605754.0,73,1.57,46.496815,40,25.477707
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,3.105590,4.0,89.0,297,605754.0,76,1.61,47.204969,71,44.099379
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,NaN,5.0,48.0,297,605754.0,20,1.82,10.989011,83,45.604396
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,0.917431,3.0,14.0,297,605754.0,5,1.09,4.587156,31,28.440367

### df11 ~ df15

In [33]:
df11 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/도시_면적당 지하철역 수_동별_2023.csv')

In [34]:
df11 = df11[['구', '동', '지하철역 수', '면적당 지하철역 수']]
df11['동'] = df11['동'].str.replace('면목제3.8동', '면목3.8동')
df11

/var/folders/x_/s6rt1hw118zdhq387czgy5q40000gn/T/ipykernel_11003/4068539765.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df11['동'] = df11['동'].str.replace('면목제3.8동', '면목3.8동')

       구     동  지하철역 수  면적당 지하철역 수
0    강남구  개포2동       3    1.195219
1    강남구  논현1동       3    2.400000
2    강남구  논현2동       2    1.360544
3    강남구  대치1동       1    1.265823
4    강남구  대치2동       2    1.000000
..   ...   ...     ...         ...
203  중랑구   묵1동       1    0.833333
204  중랑구  상봉1동       1    1.136364
205  중랑구  상봉2동       1    1.538462
206  중랑구  신내1동       1    0.390625
207  중랑구  중화1동       1    1.562500

[208 rows x 4 columns]

In [35]:
main11 = pd.merge(main10, df11, on = ['구', '동'], how = 'outer')
main11

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,학원 수,개소(구),녹지 면적 (㎡)(구),근린시설 수,동 면적(km2),근린시설 밀집도,정류장 수,면적당 정류장 수,지하철역 수,면적당 지하철역 수
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,20.0,562,224004.0,45,1.23,36.585366,138,112.195122,2.0,1.626016
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,2.0,562,224004.0,30,1.49,20.134228,28,18.791946,NaN,NaN
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,25.0,562,224004.0,16,2.27,7.048458,95,41.850220,NaN,NaN
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,28.0,562,224004.0,32,8.87,3.607666,127,14.317926,NaN,NaN
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,18.0,562,224004.0,7,0.36,19.444444,21,58.333333,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,45.0,297,605754.0,30,1.02,29.411765,27,26.470588,NaN,NaN
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,50.0,297,605754.0,73,1.57,46.496815,40,25.477707,NaN,NaN
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,89.0,297,605754.0,76,1.61,47.204969,71,44.099379,1.0,0.621118
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,48.0,297,605754.0,20,1.82,10.989011,83,45.604396,1.0,0.549451
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,14.0,297,605754.0,5,1.09,4.587156,31,28.440367,NaN,NaN

In [36]:
df12 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/사용년수별 공동주택_21년도 구별.csv')

In [37]:
df12 = df12.rename(columns={'자치구별': '구', '총계': '총 아파트 수'})
df12 = df12[df12['구'] != '소계']
df12

,구,총 아파트 수,5년 미만,5년 이상 10년 미만,10년 이상 15년 미만,15년 이상 20년 미만,20년 이상 30년 미만,30년 이상 40년 미만,40년 이상 50년 미만,50년 이상,20년 미만 아파트 비율,10년 미만 아파트 비율,30년 이상 아파트 비율
1,종로구,14153,2762,167,2370,1425,5195,1332,317,585,0.475,0.207,0.842
2,중구,21729,2684,1220,4831,6013,5350,70,762,799,0.679,0.180,0.925
3,용산구,36470,3871,1725,5840,4188,12536,2071,3091,3148,0.428,0.153,0.772
4,성동구,62937,5967,12232,3768,8719,25408,6843,0,0,0.488,0.289,0.891
5,광진구,32251,2635,762,4176,3077,14141,6564,896,0,0.330,0.105,0.769
6,동대문구,64609,6580,7119,7639,12679,25431,3463,1660,38,0.527,0.212,0.920
7,중랑구,53258,4729,5621,2888,7828,26951,4940,301,0,0.396,0.194,0.902
8,성북구,79605,10010,3216,14759,28484,20123,1759,1088,166,0.709,0.166,0.962
9,강북구,34130,1698,504,4823,12439,6481,8114,71,0,0.570,0.065,0.760
10,도봉구,65044,450,1293,507,11310,24262,27114,108,0,0.208,0.027,0.581
11,노원구,159693,3236,1079,1673,12207,68565,72813,120,0,0.114,0.027,0.543
12,은평구,58308,13823,3294,22503,6528,7846,4124,157,33,0.791,0.294,0.926
13,서대문구,49650,8508,9817,3522,4926,18557,3601,719,0,0.539,0.369,0.913
14,마포구,73023,8658,11158,9915,17556,17541,7909,214,72,0.648,0.271,0.888
15,양천구,92204,8900,3736,6028,17104,24941,31300,195,0,0.388,0.137,0.658
16,강서구,107196,5292,12821,10265,20454,54506,3754,104,0,0.456,0.169,0.964
17,구로구,79668,8033,3198,8579,12621,32806,13679,752,0,0.407,0.141,0.819
18,금천구,32252,3449,3984,545,8504,7700,6104,1966,0,0.511,0.230,0.750
19,영등포구,72468,12467,3105,2672,11261,23051,10754,7421,1737,0.407,0.215,0.725
20,동작구,61820,6833,7861,5471,14450,21630,5085,453,37,0.560,0.238,0.910
21,관악구,50519,1962,713,4328,17649,21807,3416,536,108,0.488,0.053,0.920
22,서초구,87287,12209,13333,11430,16012,11437,12293,6520,4053,0.607,0.293,0.738
23,강남구,118978,10488,14995,9335,19148,30754,23166,11092,0,0.454,0.214,0.712
24,송파구,123800,19884,7774,30496,9020,19459,27993,9174,0,0.543,0.223,0.700
25,강동구,85545,26344,5263,17732,7436,16547,12147,76,0,0.664,0.369,0.857

In [38]:
main12 = pd.merge(main11, df12, on = '구', how = 'outer')
main12

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,5년 이상 10년 미만,10년 이상 15년 미만,15년 이상 20년 미만,20년 이상 30년 미만,30년 이상 40년 미만,40년 이상 50년 미만,50년 이상,20년 미만 아파트 비율,10년 미만 아파트 비율,30년 이상 아파트 비율
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,167,2370,1425,5195,1332,317,585,0.475,0.207,0.842
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,167,2370,1425,5195,1332,317,585,0.475,0.207,0.842
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,167,2370,1425,5195,1332,317,585,0.475,0.207,0.842
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,167,2370,1425,5195,1332,317,585,0.475,0.207,0.842
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,167,2370,1425,5195,1332,317,585,0.475,0.207,0.842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,5263,17732,7436,16547,12147,76,0,0.664,0.369,0.857
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,5263,17732,7436,16547,12147,76,0,0.664,0.369,0.857
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,5263,17732,7436,16547,12147,76,0,0.664,0.369,0.857
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,5263,17732,7436,16547,12147,76,0,0.664,0.369,0.857
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,5263,17732,7436,16547,12147,76,0,0.664,0.369,0.857

In [39]:
df13 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/외국인주민 비율_2022 동별.csv')

In [40]:
df13.rename(columns={'구별': '구', '동별': '동'},inplace=True)
df13 = df13[df13['동'] != '소계']

In [41]:
main13 = pd.merge(main12, df13, on = ['구', '동'], how = 'outer')
main13

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,20년 이상 30년 미만,30년 이상 40년 미만,40년 이상 50년 미만,50년 이상,20년 미만 아파트 비율,10년 미만 아파트 비율,30년 이상 아파트 비율,합계,외국인,외국인 비율
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,5195,1332,317,585,0.475,0.207,0.842,9355,268,0.03
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,5195,1332,317,585,0.475,0.207,0.842,2642,311,0.12
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,5195,1332,317,585,0.475,0.207,0.842,9536,295,0.03
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,5195,1332,317,585,0.475,0.207,0.842,17858,195,0.01
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,5195,1332,317,585,0.475,0.207,0.842,8052,29,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,16547,12147,76,0,0.664,0.369,0.857,34271,282,0.01
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,16547,12147,76,0,0.664,0.369,0.857,33825,623,0.02
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,16547,12147,76,0,0.664,0.369,0.857,45374,342,0.01
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,16547,12147,76,0,0.664,0.369,0.857,39178,142,0.00
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,16547,12147,76,0,0.664,0.369,0.857,11933,51,0.00

In [42]:
df14 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치구별 5대 범죄 발생 수_22년 구별.csv')

In [43]:
df14.rename(columns={'자치구별': '구', '발생': '5대 범죄 발생 수'},inplace=True)

In [44]:
main14 = pd.merge(main13, df14, on = '구', how = 'left')
main14

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,30년 이상 40년 미만,40년 이상 50년 미만,50년 이상,20년 미만 아파트 비율,10년 미만 아파트 비율,30년 이상 아파트 비율,합계,외국인,외국인 비율,5대 범죄 발생 수
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,1332,317,585,0.475,0.207,0.842,9355,268,0.03,3138
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,1332,317,585,0.475,0.207,0.842,2642,311,0.12,3138
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,1332,317,585,0.475,0.207,0.842,9536,295,0.03,3138
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,1332,317,585,0.475,0.207,0.842,17858,195,0.01,3138
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,1332,317,585,0.475,0.207,0.842,8052,29,0.00,3138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,12147,76,0,0.664,0.369,0.857,34271,282,0.01,3711
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,12147,76,0,0.664,0.369,0.857,33825,623,0.02,3711
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,12147,76,0,0.664,0.369,0.857,45374,342,0.01,3711
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,12147,76,0,0.664,0.369,0.857,39178,142,0.00,3711
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,12147,76,0,0.664,0.369,0.857,11933,51,0.00,3711

In [45]:
df15 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치구별 경찰서 수_22년 구별.csv')

In [46]:
df15 = df15[['자치구별', '경찰서 및 지구대', '경찰서 1개당 면적']]
df15 = df15.rename(columns={'자치구별': '구', '경찰서 및 지구대': '경찰서 및 지구대(구)', '경찰서 1개당 면적': '경찰서 1개당 면적(구)'})

In [47]:
main15 = pd.merge(main14, df15, on = '구', how = 'left')
main15

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,50년 이상,20년 미만 아파트 비율,10년 미만 아파트 비율,30년 이상 아파트 비율,합계,외국인,외국인 비율,5대 범죄 발생 수,경찰서 및 지구대(구),경찰서 1개당 면적(구)
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,585,0.475,0.207,0.842,9355,268,0.03,3138,24,0.996250
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,585,0.475,0.207,0.842,2642,311,0.12,3138,24,0.996250
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,585,0.475,0.207,0.842,9536,295,0.03,3138,24,0.996250
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,585,0.475,0.207,0.842,17858,195,0.01,3138,24,0.996250
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,585,0.475,0.207,0.842,8052,29,0.00,3138,24,0.996250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,0,0.664,0.369,0.857,34271,282,0.01,3711,17,1.446471
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,0,0.664,0.369,0.857,33825,623,0.02,3711,17,1.446471
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,0,0.664,0.369,0.857,45374,342,0.01,3711,17,1.446471
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,0,0.664,0.369,0.857,39178,142,0.00,3711,17,1.446471
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,0,0.664,0.369,0.857,11933,51,0.00,3711,17,1.446471

In [48]:
df16 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치구별 방범용 cctv 수_23년 누적 구별.csv')
#df17 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치구별_공공도서관.csv')
#df18 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치구별_공원.csv')
#df19 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치구별_문화시설.csv')
#df20 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치동별 의료기관 수 _17년 동별.csv')
#df21 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/주간인구지수_구별 2020.csv')
#df22 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/주택보급률_22년도 동별.csv')
#df23 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/주택종류별_2020동별.csv')
#df24 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/house_values.csv')
#df25 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/land_values.csv')
#df26 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/policy_proportion.csv')
#df27 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/policy.csv')

In [49]:
df16.rename(columns={'구분': '구', '총계': 'cctv 수(구)'}, inplace=True)
df16 = df16[['구', 'cctv 수(구)']]
df16

       구 cctv 수(구)
0    종로구     1,966
1    중 구     2,584
2    용산구     2,970
3    성동구     4,175
4    광진구     3,592
5   동대문구     2,759
6    중랑구     4,193
7    성북구     4,957
8    강북구     3,321
9    도봉구     2,385
10   노원구     2,626
11   은평구     4,653
12  서대문구     3,538
13   마포구     2,638
14   양천구     3,890
15   강서구     3,353
16   구로구     4,831
17   금천구     2,885
18  영등포구     4,660
19   동작구     2,690
20   관악구     5,642
21   서초구     4,995
22   강남구     7,243
23   송파구     3,253
24   강동구     3,192

In [50]:
main16 = pd.merge(main15, df16, on = '구', how = 'left')
main16

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,20년 미만 아파트 비율,10년 미만 아파트 비율,30년 이상 아파트 비율,합계,외국인,외국인 비율,5대 범죄 발생 수,경찰서 및 지구대(구),경찰서 1개당 면적(구),cctv 수(구)
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,0.475,0.207,0.842,9355,268,0.03,3138,24,0.996250,"1,966"
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.475,0.207,0.842,2642,311,0.12,3138,24,0.996250,"1,966"
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,0.475,0.207,0.842,9536,295,0.03,3138,24,0.996250,"1,966"
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.475,0.207,0.842,17858,195,0.01,3138,24,0.996250,"1,966"
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,0.475,0.207,0.842,8052,29,0.00,3138,24,0.996250,"1,966"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,0.664,0.369,0.857,34271,282,0.01,3711,17,1.446471,"3,192"
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,0.664,0.369,0.857,33825,623,0.02,3711,17,1.446471,"3,192"
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,0.664,0.369,0.857,45374,342,0.01,3711,17,1.446471,"3,192"
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,0.664,0.369,0.857,39178,142,0.00,3711,17,1.446471,"3,192"
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,0.664,0.369,0.857,11933,51,0.00,3711,17,1.446471,"3,192"

In [51]:
df17 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치구별_공공도서관.csv')

In [52]:
df17 = df17.rename(columns={'구명': '구', '수': '공공도서관 수(구)'})

In [53]:
main17 = pd.merge(main16, df17, on = '구', how = 'left')
main17

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,10년 미만 아파트 비율,30년 이상 아파트 비율,합계,외국인,외국인 비율,5대 범죄 발생 수,경찰서 및 지구대(구),경찰서 1개당 면적(구),cctv 수(구),공공도서관 수(구)
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,0.207,0.842,9355,268,0.03,3138,24,0.996250,"1,966",9
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.207,0.842,2642,311,0.12,3138,24,0.996250,"1,966",9
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,0.207,0.842,9536,295,0.03,3138,24,0.996250,"1,966",9
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.207,0.842,17858,195,0.01,3138,24,0.996250,"1,966",9
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,0.207,0.842,8052,29,0.00,3138,24,0.996250,"1,966",9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,0.369,0.857,34271,282,0.01,3711,17,1.446471,"3,192",10
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,0.369,0.857,33825,623,0.02,3711,17,1.446471,"3,192",10
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,0.369,0.857,45374,342,0.01,3711,17,1.446471,"3,192",10
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,0.369,0.857,39178,142,0.00,3711,17,1.446471,"3,192",10
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,0.369,0.857,11933,51,0.00,3711,17,1.446471,"3,192",10

In [54]:
df18 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치구별_공원.csv')

In [55]:
df18 = df18.rename(columns={'자치구': '구', '수': '공원 수(구)'})

In [56]:
main18 = pd.merge(main17, df18, on = '구', how = 'left')
main18

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,30년 이상 아파트 비율,합계,외국인,외국인 비율,5대 범죄 발생 수,경찰서 및 지구대(구),경찰서 1개당 면적(구),cctv 수(구),공공도서관 수(구),공원 수(구)
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,0.842,9355,268,0.03,3138,24,0.996250,"1,966",9,12
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.842,2642,311,0.12,3138,24,0.996250,"1,966",9,12
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,0.842,9536,295,0.03,3138,24,0.996250,"1,966",9,12
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.842,17858,195,0.01,3138,24,0.996250,"1,966",9,12
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,0.842,8052,29,0.00,3138,24,0.996250,"1,966",9,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,강동구,암사1동,2900.0,0.085322,17.0,4.0,23.529412,1.0,1.0,100.000000,...,0.857,34271,282,0.01,3711,17,1.446471,"3,192",10,7
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,0.857,33825,623,0.02,3711,17,1.446471,"3,192",10,7
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,0.857,45374,342,0.01,3711,17,1.446471,"3,192",10,7
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,0.857,39178,142,0.00,3711,17,1.446471,"3,192",10,7
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,0.857,11933,51,0.00,3711,17,1.446471,"3,192",10,7

In [57]:
df19 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치구별_문화시설.csv')

df19 = df19.rename(columns={'자치구': '구', '수': '문화시설 수(구)'})
main19 = pd.merge(main18, df19, on = '구', how = 'left')
main19

In [66]:
df20 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/자치동별 의료기관 수 _17년 동별.csv')

In [67]:
df20['동'] = df20['동'].str.replace('일원2동', '개포3동')

In [68]:
main20 = pd.merge(main19, df20, on = ['구', '동'], how = 'outer')
main20

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,외국인,외국인 비율,5대 범죄 발생 수,경찰서 및 지구대(구),경찰서 1개당 면적(구),cctv 수(구),공공도서관 수(구),공원 수(구),수,병원수
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,268.0,0.03,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,75.0
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,311.0,0.12,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,11.0
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,295.0,0.03,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,4.0
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,195.0,0.01,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,15.0
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,29.0,0.00,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,623.0,0.02,3711.0,17.0,1.446471,"3,192",10.0,7.0,17.0,118.0
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,342.0,0.01,3711.0,17.0,1.446471,"3,192",10.0,7.0,17.0,103.0
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,142.0,0.00,3711.0,17.0,1.446471,"3,192",10.0,7.0,17.0,NaN
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,51.0,0.00,3711.0,17.0,1.446471,"3,192",10.0,7.0,17.0,NaN
426,강동구,상일동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0

In [69]:
df21 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/주간인구지수_구별 2020.csv')

In [71]:
df21.rename(columns={'자치구별': '구'}, inplace=True)
df21 = df21[df21['구'] != '소계']

In [72]:
main21 = pd.merge(main20, df21, on = '구', how = 'left')
main21

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,외국인 비율,5대 범죄 발생 수,경찰서 및 지구대(구),경찰서 1개당 면적(구),cctv 수(구),공공도서관 수(구),공원 수(구),수,병원수,주간인구지수(%)
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,0.03,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,75.0,245
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.12,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,11.0,245
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,0.03,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,4.0,245
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.01,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,15.0,245
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,0.00,3138.0,24.0,0.996250,"1,966",9.0,12.0,167.0,6.0,245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,0.02,3711.0,17.0,1.446471,"3,192",10.0,7.0,17.0,118.0,86
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,0.01,3711.0,17.0,1.446471,"3,192",10.0,7.0,17.0,103.0,86
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,0.00,3711.0,17.0,1.446471,"3,192",10.0,7.0,17.0,NaN,86
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,0.00,3711.0,17.0,1.446471,"3,192",10.0,7.0,17.0,NaN,86
426,강동구,상일동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,86

In [77]:
df22 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/주택보급률_22년도 동별.csv')

In [78]:
df22.rename(columns={'구별': '구','동별': '동'}, inplace=True)
df22 = df22[df22['동'] != '소계']
df22['동'] = df22['동'].str.replace('일원2동', '개포3동')

In [79]:
main22 = pd.merge(main21, df22, on = ['구', '동'], how = 'outer')
main22

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,경찰서 1개당 면적(구),cctv 수(구),공공도서관 수(구),공원 수(구),수,병원수,주간인구지수(%),주택수,일반가구수(가구),주택보급률
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,0.996250,"1,966",9.0,12.0,167.0,75.0,245,2778.0,3839.0,72.4
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.996250,"1,966",9.0,12.0,167.0,11.0,245,730.0,1031.0,70.8
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,0.996250,"1,966",9.0,12.0,167.0,4.0,245,3070.0,3773.0,81.4
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.996250,"1,966",9.0,12.0,167.0,15.0,245,5958.0,6265.0,95.1
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,0.996250,"1,966",9.0,12.0,167.0,6.0,245,2860.0,2883.0,99.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,1.446471,"3,192",10.0,7.0,17.0,118.0,86,9362.0,15701.0,59.6
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,1.446471,"3,192",10.0,7.0,17.0,103.0,86,14776.0,19509.0,75.7
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,1.446471,"3,192",10.0,7.0,17.0,NaN,86,NaN,NaN,NaN
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,1.446471,"3,192",10.0,7.0,17.0,NaN,86,NaN,NaN,NaN
426,강동구,상일동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17.0,86,10472.0,10984.0,95.3

In [80]:
df23 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/주택종류별_2020동별.csv')

In [83]:
df23 = df23.rename(columns={'구별': '구', '동별': '동', '총합': '주택종류별 총합'})
df23 = df23[df23['동'] != '소계']
df23['동'] = df23['동'].str.replace('일원2동', '개포3동')
df23

,구,동,주택종류별 총합,단독주택합,일반단독주택,다가구주택,영업겸용주택,아파트,연립주택,다세대 주택,비거주용건물내주택,아파트/총합
2,종로구,사직동,2778,650,467,108,75,1591,78,411,48,0.57
3,종로구,삼청동,730,644,414,134,96,0,19,37,30,0.00
4,종로구,부암동,3070,1033,750,214,69,121,903,976,37,0.04
5,종로구,평창동,5958,1553,1088,314,151,1009,2186,1139,71,0.17
6,종로구,무악동,2860,48,14,9,25,2703,55,46,8,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...
446,강동구,둔촌1동,5,5,X,X,X,0,X,X,X,0.00
447,강동구,둔촌2동,7962,543,31,377,135,5011,154,2187,67,0.63
448,강동구,암사1동,10089,1139,20,889,230,2790,247,5829,84,0.28
449,강동구,천호2동,9362,1488,103,1134,251,2641,189,4901,143,0.28
450,강동구,길동,14776,830,16,590,224,8719,588,4492,147,0.59

In [84]:
main23 = pd.merge(main22, df23, on = ['구', '동'], how = 'outer')
main23

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,주택종류별 총합,단독주택합,일반단독주택,다가구주택,영업겸용주택,아파트,연립주택,다세대 주택,비거주용건물내주택,아파트/총합
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,2778.0,650,467,108,75,1591.0,78,411,48,0.57
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,730.0,644,414,134,96,0.0,19,37,30,0.00
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,3070.0,1033,750,214,69,121.0,903,976,37,0.04
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,5958.0,1553,1088,314,151,1009.0,2186,1139,71,0.17
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,2860.0,48,14,9,25,2703.0,55,46,8,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,9362.0,1488,103,1134,251,2641.0,189,4901,143,0.28
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,14776.0,830,16,590,224,8719.0,588,4492,147,0.59
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
426,강동구,상일동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10472.0,242,5,119,118,8953.0,582,658,37,0.85

In [123]:
df24 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/house_values.csv')
df25 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/land_values.csv')
df26 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/policy_proportion.csv')
df27 = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/policy.csv')

In [124]:
sub = pd.merge(df24, df25, on = '법정동명', how = 'outer')
sub

      법정동명  mean_vlue/m**2  공시지가(원/㎡)
0      가락동     1231.790397    7228324
1     가리봉동      573.054163    3618488
2      가산동      802.271102    3283833
3      가양동     1114.016099    4120376
4      가회동     1533.384690    5830060
..     ...             ...        ...
460  충정로1가             NaN   10300134
461  태평로1가             NaN   23369596
462  태평로2가             NaN   25308682
463  회현동3가             NaN    9335876
464    훈정동             NaN    2811046

[465 rows x 3 columns]

In [125]:
df26 = df26.drop(columns=['Unnamed: 0'],  axis=1)
df26 = df26.rename(columns={'구별': '구'})

In [126]:
main24 = pd.merge(main23, df26, on = '구', how = 'left')
main24

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,18_집행액,19_예산액,19_집행액,20_예산액,20_집행액,16_effect,17_effect,18_effect,19_effect,20_effect
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,247500,481000,414500,450000,357000,1.172222,0.797500,0.657371,0.861746,0.793333
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,247500,481000,414500,450000,357000,1.172222,0.797500,0.657371,0.861746,0.793333
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,247500,481000,414500,450000,357000,1.172222,0.797500,0.657371,0.861746,0.793333
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,247500,481000,414500,450000,357000,1.172222,0.797500,0.657371,0.861746,0.793333
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,247500,481000,414500,450000,357000,1.172222,0.797500,0.657371,0.861746,0.793333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,421000,566400,383300,773200,512800,0.649951,0.621081,0.667195,0.676730,0.663218
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,421000,566400,383300,773200,512800,0.649951,0.621081,0.667195,0.676730,0.663218
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,421000,566400,383300,773200,512800,0.649951,0.621081,0.667195,0.676730,0.663218
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,421000,566400,383300,773200,512800,0.649951,0.621081,0.667195,0.676730,0.663218
426,강동구,상일동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,421000,566400,383300,773200,512800,0.649951,0.621081,0.667195,0.676730,0.663218

In [129]:
main25 = pd.merge(main24, df27, on = '구', how = 'left')
main25

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,16_예산액_y,16_집행액_y,17_예산액_y,17_집행액_y,18_예산액_y,18_집행액_y,19_예산액_y,19_집행액_y,20_예산액_y,20_집행액_y
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.000000,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.000000,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,NaN,NaN,NaN,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.000000,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.000000,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,66.666667,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,40.000000,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.000000,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088
426,강동구,상일동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088

In [128]:
df27 = df27.rename(columns={'구별': '구'})

In [130]:
main25.to_csv('main.csv')
sub.to_csv('sub.csv')

In [1]:
import pandas as pd

df = pd.read_csv('main_2차.csv')
df

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

,구,동,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,...,16_예산액_y,16_집행액_y,17_예산액_y,17_집행액_y,18_예산액_y,18_집행액_y,19_예산액_y,19_집행액_y,20_예산액_y,20_집행액_y
0,종로구,사직동,848.0,0.093320,11.0,1.0,9.090909,1.0,0.0,0.0,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
1,종로구,삼청동,142.0,0.060918,3.0,1.0,33.333333,0.0,0.0,0.0,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
2,종로구,부암동,709.0,0.076723,3.0,2.0,66.666667,2.0,0.0,0.0,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
3,종로구,평창동,1743.0,0.098681,3.0,1.0,33.333333,0.0,0.0,0.0,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
4,종로구,무악동,931.0,0.116041,3.0,3.0,100.000000,1.0,0.0,0.0,...,0.027027,0.095710,0.000000,0.000000,0.155026,0.076891,0.227355,0.235818,0.123817,0.133105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,강동구,천호2동,2339.0,0.070448,10.0,5.0,50.000000,2.0,0.0,0.0,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088
423,강동구,길동,3349.0,0.074369,17.0,6.0,35.294118,3.0,2.0,2.0,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088
424,강동구,상일1동,7884.0,0.201967,13.0,8.0,61.538462,5.0,2.0,2.0,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088
425,강동구,상일2동,1525.0,0.128345,15.0,7.0,46.666667,1.0,0.0,0.0,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088
426,강동구,상일동,NaN,NaN,0.0,NaN,0.000000,0.0,0.0,0.0,...,0.326577,0.230033,0.551865,0.417095,0.424339,0.319888,0.304710,0.200632,0.301673,0.249088

In [5]:
numeric_df = df.select_dtypes(include='number')
correlation_matrix = numeric_df.corr()
correlation_matrix

,14세 이하 아동 수,~14세 비율,전체 어린이집 수,국공립 어린이집 수,국공립 어린이집 비율,전체 유치원 수,국공립 유치원 수,국공립 유치원 비율,어린이집 아동 수(구),어린이집 교사 수(구),...,16_예산액_y,16_집행액_y,17_예산액_y,17_집행액_y,18_예산액_y,18_집행액_y,19_예산액_y,19_집행액_y,20_예산액_y,20_집행액_y
14세 이하 아동 수,1.000000,0.759074,0.738496,0.664100,-0.023911,0.503267,0.431647,0.431647,0.379789,0.375571,...,0.261560,0.220356,0.330926,0.322615,0.248427,0.225068,0.255709,0.209897,0.189546,0.165198
~14세 비율,0.759074,1.000000,0.425880,0.435268,0.041880,0.251777,0.177100,0.177100,0.256803,0.259664,...,0.249066,0.223456,0.276399,0.267810,0.239165,0.236718,0.156376,0.142770,0.188562,0.144595
전체 어린이집 수,0.738496,0.425880,1.000000,0.762780,-0.146818,0.540041,0.443970,0.443970,0.337761,0.330508,...,0.067922,0.046374,0.138089,0.141881,0.108433,0.083983,0.191094,0.124714,-0.002315,-0.002808
국공립 어린이집 수,0.664100,0.435268,0.762780,1.000000,0.363654,0.462518,0.454011,0.454011,0.152889,0.137359,...,0.037241,0.020469,0.048027,0.039771,0.019965,0.012413,0.066624,0.015608,-0.051505,-0.064053
국공립 어린이집 비율,-0.023911,0.041880,-0.146818,0.363654,1.000000,-0.020862,0.037768,0.037768,-0.281360,-0.278798,...,-0.140034,-0.124221,-0.214231,-0.226710,-0.141017,-0.115323,-0.162269,-0.125384,-0.104384,-0.109574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18_집행액_y,0.225068,0.236718,0.083983,0.012413,-0.115323,0.060422,0.054646,0.054646,0.467013,0.529506,...,0.642213,0.627925,0.670867,0.693802,0.965940,1.000000,0.645243,0.758308,0.756336,0.686772
19_예산액_y,0.255709,0.156376,0.191094,0.066624,-0.162269,0.125713,0.069362,0.069362,0.505635,0.544326,...,0.233009,0.186007,0.528944,0.516338,0.713962,0.645243,1.000000,0.942217,0.671082,0.726602
19_집행액_y,0.209897,0.142770,0.124714,0.015608,-0.125384,0.100211,0.061480,0.061480,0.470375,0.528324,...,0.278551,0.229032,0.511704,0.511997,0.798500,0.758308,0.942217,1.000000,0.790715,0.826643
20_예산액_y,0.189546,0.188562,-0.002315,-0.051505,-0.104384,-0.002056,0.012048,0.012048,0.270016,0.327010,...,0.595160,0.513007,0.675107,0.657975,0.793210,0.756336,0.671082,0.790715,1.000000,0.973245
20_집행액_y,0.165198,0.144595,-0.002808,-0.064053,-0.109574,0.005158,0.013807,0.013807,0.221816,0.277291,...,0.509710,0.424775,0.645480,0.620999,0.738940,0.686772,0.726602,0.826643,0.973245,1.000000

In [6]:
correlation_matrix.to_csv('상관관계.csv')